.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 10px 4%;
}

#lightbulb-icon {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.802);
  position: absolute;
  top: 15px;
  right: 15px;
  margin-top: 6px;
  margin-right: clamp(10px, 4vw, 90px);
  z-index: 3;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#lightbulb-icon:hover {
  transform: scale(1.3);
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    40deg,
    #9bacfa,
    #fda2ae,
    #7aecc0,
    #71dff5,
    #bf90f3
  );
  background-size: 500% 500%;
  animation: gradientAnimation 23s ease infinite;
  /* border: 4px solid #667eea; */
  border-radius: 20px;
  padding: 15px 0;
  width: 100%;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-header img {
  width: 200px;
  margin-bottom: -25px;
  cursor: pointer;
}

.app-header h2 {
  font-size: clamp(15px, 4vw, 25px);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.time-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.time-selection h3 {
  font-size: clamp(25px, 4vw, 35px);
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.time-selection-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.time-selection button {
  font-size: clamp(15px, 4vw, 25px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

.time-selection button:hover {
  border: 2px solid #fda2ae;
  box-shadow: 0px 0px 10px 0px rgba(253, 162, 174, 0.5);
}

.time-selection-buttons button:focus {
  background-color: #fda2ae;
  color: white;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(253, 162, 174, 0.5);
}

.pick-categories {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: clamp(35px, 4vw, 40px);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(40px, 10vh, 60px);
  min-width: 300px;
  width: 100%;
  max-width: 900px;
  position: relative;
  /* border: 4px solid #667eea; */
  padding: 30px 70px;
  border-radius: 20px;
}
#brain-icon {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.802);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

#brain-icon:hover {
  transform: rotate(360deg);
}

.categories img {
  /* width: clamp(150px, 40%, 500px); */
  width: 170px;
  /* height: clamp(150px, 60%, 500px); */
  height: 150px;
  object-fit: contain;
  position: absolute;
  z-index: 2;
  right: -70px;
  bottom: 10px;
}
.literature-art-container img {
  bottom: -5px;
}

.pop-culture-container img {
  bottom: -5px;
}

.sports-leisure-container img {
  bottom: -5px;
}

.categories button {
  width: 100%;
  height: clamp(70px, 10vh, 150px);
  border-radius: 20px;
  border: none;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: bold;
  color: white;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  will-change: transform;
}

/* .categories button:hover {
    transform: translateY(-5px);
  } */

.science-nature-container,
.history-geography-container,
.literature-art-container,
.sports-leisure-container,
.pop-culture-container {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 550px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}
.science-nature-container:hover {
  transform: translateY(-8px);
}

.history-geography-container:hover {
  transform: translateY(-8px);
}

.literature-art-container:hover {
  transform: translateY(-8px);
}

.sports-leisure-container:hover {
  transform: translateY(-8px);
}

.pop-culture-container:hover {
  transform: translateY(-8px);
}

.science-nature-container button {
  background: linear-gradient(20deg, #42c492, #8cf0ca);
  position: relative;
}

.history-geography-container button {
  background: linear-gradient(20deg, #667eea, #b2bff7);
  position: relative;
}

.literature-art-container button {
  background: linear-gradient(20deg, #764ba2, #cda8f5);
  position: relative;
}

.sports-leisure-container button {
  background: linear-gradient(20deg, #00b4d8, #93e1f0);
  position: relative;
}

.pop-culture-container button {
  background: linear-gradient(20deg, #ff758c, #fcc0c8);
  position: relative;
}

@media screen and (max-width: 768px) {
  .app-header h2 {
    display: none;
  }

  .app-header img {
    width: 300px;
  }

  .time-selection {
    flex-direction: column;
  }

  .time-selection-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .categories {
    gap: 30px;
    padding-top: 30px;
  }

  #brain-icon {
    top: 5px;
    left: 5px;
    font-size: 30px;
  }

  .categories button {
    height: clamp(70px, 10vh, 100px);
    min-width: 280px;
  }

  .history-geography-container img {
    height: 110px;
    width: 110px;
    top: -10%;
    right: -23%;
  }

  .science-nature-container img {
    height: 110px;
    width: 110px;
    top: -10%;
    right: -17%;
  }

  .literature-art-container img {
    height: 160px;
    width: 120px;
    top: -35%;
    right: -20%;
  }

  .pop-culture-container img {
    height: 150px;
    width: 140px;
    top: -30%;
  }

  .sports-leisure-container img {
    height: 140px;
    width: 120px;
    top: -20%;
    right: -20%;
  }

  .science-nature-container,
  .history-geography-container,
  .literature-art-container,
  .sports-leisure-container,
  .pop-culture-container {
    min-width: 280px;
    width: 90%;
  }
}
