.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    40deg,
    #9bacfa,
    #fda2ae,
    #7aecc0,
    #71dff5,
    #bf90f3
  );
  background-size: 500% 500%;
  animation: gradientAnimation 23s ease infinite;
  /* border: 4px solid #667eea; */
  border-radius: 20px;
  padding: 15px 0;
  width: 100%;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-header h1 {
  font-size: clamp(40px, 4vw, 50px);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header h2 {
  font-size: clamp(15px, 4vw, 25px);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.pick-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: clamp(35px, 4vw, 40px);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(40px, 10vh, 60px);
  min-width: 300px;
  width: 100%;
  max-width: 900px;
  position: relative;
  /* border: 4px solid #667eea; */
  padding: 70px;
  border-radius: 20px;
}
.categories img {
  /* width: clamp(150px, 40%, 500px); */
  width: 170px;
  /* height: clamp(150px, 60%, 500px); */
  height: 150px;
  object-fit: contain;
  position: absolute;
  z-index: 2;
  right: -70px;
  bottom: 10px;
}
.literature-art-container img {
  bottom: -5px;
}

.pop-culture-container img {
  bottom: -5px;
}

.sports-leisure-container img {
  bottom: -5px;
}

.categories button {
  width: 100%;
  height: clamp(70px, 10vh, 150px);
  border-radius: 10px;
  border: none;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: bold;
  color: white;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  will-change: transform;
}

/* .categories button:hover {
  transform: translateY(-5px);
} */

.science-nature-container,
.history-geography-container,
.literature-art-container,
.sports-leisure-container,
.pop-culture-container {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 550px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}
.science-nature-container:hover {
  transform: translateY(-5px);
}

.history-geography-container:hover {
  transform: translateY(-5px);
}

.literature-art-container:hover {
  transform: translateY(-5px);
}

.sports-leisure-container:hover {
  transform: translateY(-5px);
}

.pop-culture-container:hover {
  transform: translateY(-5px);
}

.science-nature-container button {
  background: linear-gradient(20deg, #42c492, #8cf0ca);
  position: relative;
}

.history-geography-container button {
  background: linear-gradient(20deg, #667eea, #b2bff7);
  position: relative;
}

.literature-art-container button {
  background: linear-gradient(20deg, #764ba2, #cda8f5);
  position: relative;
}

.sports-leisure-container button {
  background: linear-gradient(20deg, #00b4d8, #93e1f0);
  position: relative;
}

.pop-culture-container button {
  background: linear-gradient(20deg, #ff758c, #fcc0c8);
  position: relative;
}

@media screen and (max-width: 768px) {
  .categories {
    gap: 30px;
    padding-top: 30px;
  }

  .categories button {
    height: clamp(70px, 10vh, 100px);
    min-width: 280px;
  }

  .history-geography-container img {
    height: 110px;
    width: 110px;
    top: -10%;
    right: -23%;
  }

  .science-nature-container img {
    height: 110px;
    width: 110px;
    top: -10%;
    right: -17%;
  }

  .literature-art-container img {
    height: 160px;
    width: 120px;
    top: -35%;
    right: -20%;
  }

  .pop-culture-container img {
    height: 150px;
    width: 140px;
    top: -30%;
  }

  .sports-leisure-container img {
    height: 140px;
    width: 120px;
    top: -20%;
    right: -20%;
  }

  .science-nature-container,
  .history-geography-container,
  .literature-art-container,
  .sports-leisure-container,
  .pop-culture-container {
    min-width: 280px;
    width: 90%;
  }
}
