* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bubblegum Sans", serif;
  letter-spacing: 0.03em;
}

button {
  font-family: "Bubblegum Sans", serif;
  cursor: pointer;
}

html {
  background-color: #ffffff;
}

body {
  margin: 0 4%;
}
